html{
    width:1350px ;
    height: 900px;
}
header{
    background-color: #46fac5;
    border: 4px solid black;
    border-bottom: 4px solid #ff0000;
}
header h1{
    margin-top:0px;
    margin-bottom:0px;
    font-size: x-large;
}
header ul{
    margin-top:2px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color:transparent;
    display: grid;
    grid-gap: 2px;   
    grid-template-columns: repeat(3,auto);
    
}
header li{
    background-color:#0c3c2d;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a{
    grid-row: 1;
    color: white;

    font-size: small;
}

main{
    background-color: #8da9a0;
    border: 4px solid black;
    border-bottom: 0px;
    border-top: 0px;
}

main h2{
    font-size: large;
    margin-top: 0px;
}

main section{
    border: 2px solid black;
    background-color: #daefe8;
    margin: 20px;
    padding: 8px;
}

main section h3{
    margin-top: 0px;
    font-size: medium;
    margin-left: 3px;
    margin-bottom: 0px;
    

}

main section article{
    margin-left: 10px;
}
main section article p{
    margin: 8px;
    border-bottom: 4px dotted #1f972d;
}

main section#seccion3{
    margin-bottom: 0px;
}

aside{
    padding-top: 15px;
    padding-bottom: 70px;
    background-color: #506860;
    border: 4px solid black;
    border-top:0px;

}
aside p{
    margin: 0px;
    color: white;
    font-weight: 600;
}
footer{
    background-color: black;
    color: white;
    text-align: right;
}

